.icon{
    color: white;
    font-size: 4rem;
}
.icon-sm{
    color: white;
}

.img-back{
    background: url("https://www.wallpaperup.com/uploads/wallpapers/2014/04/23/342025/33a6f7672cd98722b513e073c010f5bd.jpg") no-repeat center center;
    height: 60vh;
    background-size:cover;
}
.bold{
    font-family: 'Seymour One' , sans-serif;
    color:white;
}
.bg-gray{
    color:white;
    background-color: rgb(24, 24, 24);
}
.left{
    justify-content: flex-end;
}

