.icon{
    color: white;
    font-size: 4rem;
}
.icon-sm{
    font-size: 2rem;
}

.img-back{
    background: url("http://7-themes.com/data_images/out/54/6957057-empire-state-building-at-night.jpg") no-repeat center center;
}

.bg-green{
    color: lightgreen;
    background-color: rgb(6, 112, 24);
}
.bold{
    font-family: 'Seymour One' , sans-serif;
    color: rgb(0, 0, 0);

}
